body{
    margin: 0;

    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    color: #333;
    line-height: 1.6;
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

p{
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.header{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.l__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
}

.l__header:not(:first-child){
    margin: 50px;
}

.logo{
    display: inline-block;
}


.user__log{
text-transform: uppercase;
color: #c06ef3;
font-weight: 500;
font-size: 21px;
line-height: 28px;
}

.link__telegram {
    
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    display: inline-block;
    text-align: center;
    padding: 10px 40px;
    margin: 10px 20px;
    border-radius: 30px;
    line-height: 27px;
    background-image: linear-gradient(45deg, #8371f0 0%, #c06ef3 50%, #8371f0 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0,40,120,.35);
    transition: .5s;
  }
  .link__telegram:hover {
    box-shadow: 0 0 0 0 rgba(0,40,120,0);
    background-position: 0 0;
  }

  .fa-telegram-plane:before {
    content: "\f3fe";
    margin-right: 20px;
} 

.info{
    display: flex;
    margin-top: 150px;
}

.r__header{
    display: flex;
    justify-content: right;
}

.user__out{
    color: #c06ef3;
    font-weight: bold;
    font-size: 25px;
    line-height: 28px;
    text-decoration: none;
}

.info__left{
    width: 60%;
}

.info__item{
    position: absolute;
    width: 500px;
    height: 317px;
    left: 350px;
    top: 378px;

    background: #FFFFFF;
    
}

.accordion {
    border: 0;
    font-size: 17px;
    background: none;
    display: block;
    margin: 20px 15px;
    text-align: start;
    border: 2px solid #efefef;
    padding: 14px 10px;
    width: 400px;
    outline: none;
    color: #333333;
    border-radius: 24px;
    transition: 0.25s;
    box-shadow: 0px -2px 5px -3px grey;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500px;
    font-size: 26px;
    line-height: 43px;
  }
  

  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\25BD';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: '\25B3';
  }
  
  .panel {
    margin-left: 15px;
    padding: 0 10px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 70%;
    box-shadow: inset 0px 4px 7px rgba(0, 0, 0, 0.15);
    border-radius: 23px;
    font-size: 19px;
    line-height: 25px;
  }

  .panel__inner{
    display: flex;
  }
  .p__left{
      padding: 10px;
  }
  .p__right{
      margin: 20px 5px;
      text-align: center;
  }

  .status__log{
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
  }
 
  .status__log__left{
      display: flex;
      text-align: center;
      margin: 20px 5px 15px;
      
  }

  .status__h{
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
  }
  
  .status__state{
    font-size: 16px;
    line-height: 25px;
    margin-left: 10px;
    text-transform: uppercase;
  }
  
.mark{
    font-weight: bold;
    font-size: 25px;
    line-height: 23px;
    text-align: center;

    color: #000000;
}

  .btn{
    margin: 15px 0 10px 0;
    width: 52px;
    height: 52px;
    border-radius: 24px;
    border: none;
    background: #7DDD92;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.16);
  }
  .status__log__right{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -20px;
  }

.intro__right{
    display: flex;

}



  .create{
        width: 500px;
        padding: 40px;
        position: absolute;
        top: 58%;
        left: 70%;
        transform: translate(-50%, -50%);
        background: #fff;
        text-align: center;
        border-radius: 24px;
        border: 2px solid #efefef;
        box-shadow: 0px -2px 5px -3px grey;
        font-family: 'Josefin Sans', sans-serif;

}

.create__ev{

}

.create input[type = "text"]{
    border: 0;
    font-size: 17px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    
    padding: 14px 10px;
    width: 280px;
    outline: none;
    color: #333333;
    border-radius: 24px;
    transition: 0.25s;
    border: 2px solid #efefef;
    box-shadow: 0px -2px 5px -3px grey;
    font-family: 'Josefin Sans', sans-serif;
}

.create input[type = "about"]{
    border: 0;
    font-size: 17px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    
    padding: 14px 10px;
    width: 280px;
    height: 150px;
    outline: none;
    color: #333333;
    border-radius: 24px;
    transition: 0.25s;
    border: 2px solid #efefef;
    box-shadow: 0px -2px 5px -3px grey;
    font-family: 'Josefin Sans', sans-serif;
}

.create input[type = "about"]:focus{
    border-color: #c06ef3;
    width: 300px;
}
.create input[type = "about"]::placeholder{
    transform: translateY(-50px);
}

.create input[type = "text"]:focus{
    border-color: #c06ef3;
    width: 300px;
}

::placeholder{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}


.checkbox label{
    font-size: 15px;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox label {
    position: relative;
    display: inline-block;
    padding-left: 22px;
    font-size: 17px;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    margin-top: -5px;
    margin-left: -5px;
    display: inline-block;
}

.checkbox label::before{
    height: 16px;
    width: 16px;
    
    border: 1px solid;
    border-radius: 25%;
    left: 0px;
    
    top: 9px;
}

.checkbox label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    
    transform: rotate(-45deg);
    
    left: 4px;
    top: 7px;
}

.checkbox input[type="checkbox"] + label::after {
    content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    top: 13px;
}

.checkbox input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}

.create input[type = 'submit']{
    border: 0;
    background: none;
    font-size: 17px;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #efefef;
    padding: 14px 40px;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    background:linear-gradient(to bottom, #8371f0, #c06ef3);
    color: #fff;
    border-radius: 24px;
    transition: 1s;
    cursor: pointer;
    box-shadow: 0px -2px 5px -3px grey;
}

.create input[type = 'submit']:hover{
    background: #8f70f1;
     transition: background 1s linear;
 }